doctype html
html(lang="en")
	heads
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title=contacto
		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet" href="css/icomoon.css")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		script(type="text/javascript" src="js/jquery.easing.min.js")
		script(type="text/javascript" src="js/booststrap.min.js")
		link(rel="stylesheet" href="css/main.css")

		body
    // Escribe aqui tu codigo
    .container
      .row.fondo_plomo
        .capa
          .row
            img(src='image/user-r.png')
            ul.menu_general.list-unstyled.list-inline.pull-right
              li.menu_especifico
                a.color_white(href='#') ¿Qué me ofrece?
              li
                a.color_white(href='#') ¿Cómo funciona?
              li
                a.color_white(href='#') ¿Por qué usarlo?
              li
                a.color_white(href='#') Contáctanos
            h1.titulo_1.text-center Obten videos de persona utilizando este siio Web
      .row.fondo_celeste
        .col-md-6.text-right
          h4 Pruebalo Gratis
          p Obten un video gratis en 5 minutos
        .col-md-6.text-left
          a(href='contact.html')
            button.btn Prueba Gratis
      .row.text-center
        h2.titulo_2 Nuestros Servicios
        .col-md-4
          p.titulo_3
            i.icon_video
          h4.titulo_azul Prueba Gratis
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .col-md-4
          p.titulo_3
            i.icon_clock
          h4.titulo_azul Prueba Gratis
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .col-md-4
          p.titulo_3
            i.icon_documents
          h4.titulo_azul Prueba Gratis
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
        img.icono_final(src='image/separador.png')
      .row
        .col-md-6.ejemplo
          h2.titulo_azul.text-center
            | Ejemplo de 
            img.primera(src='image/logo-2.jpg')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.
          img(src='image/flecha.png')
        .col-md-6.ejemplo
          .video
            iframe(src='https://www.youtube.com/watch?v=NwJ4Cv0J4kU', width='100%', height='305', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      .row
        .col-md-6
          img.img_lap.img-responsive(src='image/sec-2.jpg')
          p.derecha
            i.icon-pencil.icon
          p.derecha
            i.icon-search.icon
          p.derecha
            i.icon-pencil.icon
          img.derecha_icon(src='image/separador.png')
        .col-md-6.mgle4
          h4.titulo_4 Lo Quiero ¿Que hago?
          h6.titulo_azul Paso1:envianos tu link
          p.parrafo Lorem ipsum dolor sit amet, consectetur 
          h6.titulo_azul Paso2:envianos tu link
          p Al darle click asdj sadjsand asjc
          ul
            li A primera vista
            li A primera vista
            li A primera vista
          p.parrafo Lorem ipsum dolor sit amet, consectetur
          h6.titulo_azul Paso3:envianos tu link
          p.parrafo Lorem ipsum dolor sit amet, consectetur
      .row
        .col-md-6.mgle4.mga6
          h2.color_blu.text-center
            | Por qué usar
            img.tam_lg(src='image/logo-2.jpg')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            strong User Testing 360
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            |           tempor incididunt ut labore et dolore magna aliqua.
            strong User Testing 360
            | ipsum dolor sit amet, consectetur adipisicing elit,
          ul.mga6
            li ¿Como tu publico objetivo verdaderamente usa tu producto?
            li ¿Que se hace facil o dificil al navegar en tu producto?
            li ¿Que es lo que tu publico quiere hacer y tal vez no obtine o consigue?
          p
            strong User Testing 360
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            |           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        .col-md-6.mga6
          img.imgjov(src='image/banner.jpg')
      .row.text-center.fondo_celes
        .col-md-6.btp
          h4 Pruebalo Gratis
          p Obten un video gratis en 5 minutos
        .col-md-6.btp
          a(href='contact.html', target='_blank')
            button.btn.btn-primary.btp Prueba Gartis
      .row.fondo_azul
        .col-md-6.mg2
          p Escribanos a
          p.color_blu sjsajascnjsacn@gmail.com
          p Telefono: 4651516
        .col-md-6.mg2
          p.pdlefmas
            i.icon-pencil.icon_footer
            i.icon-search.icon_footer
          p.pdleft csnjc@cnscacsac sach